# Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing data

In [2]:
path=r"C:\Users\chenh\z_Careerfoundry\A4_Instacart Basket Analysis"
df_ords=pd.read_csv(os.path.join(path,'02 Data','Original Data','orders.csv'),index_col=False)
df_prods=pd.read_csv(os.path.join(path,'02 Data','Original Data','products.csv'),index_col=False)
df_dep=pd.read_csv(os.path.join(path,'02 Data','Original Data','departments.csv'),index_col=False)

# Wrangling Procedures

## Dropping columns

In [3]:
# Dropping the "eval_set" column from the orders dataframe
df_ords.drop(columns=['eval_set'])

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [4]:
# Overwriting the dataframe
df_ords=df_ords.drop(columns=['eval_set'])

## Missing values

In [5]:
# Looking for missing values (NaN) in a specific column
df_ords.value_counts(['days_since_prior_order'],dropna=False)

days_since_prior_order
30.0                      369323
7.0                       320608
6.0                       240013
4.0                       221696
3.0                       217005
5.0                       214503
NaN                       206209
2.0                       193206
8.0                       181717
1.0                       145247
9.0                       118188
14.0                      100230
10.0                       95186
13.0                       83214
11.0                       80970
12.0                       76146
0.0                        67755
15.0                       66579
16.0                       46941
21.0                       45470
17.0                       39245
20.0                       38527
18.0                       35881
19.0                       34384
22.0                       32012
28.0                       26777
23.0                       23885
27.0                       22013
24.0                       20712
25.0                       19234
29.0                       19191
26.0                       19016
dtype: int64

## Renaming columns

In [6]:
# Renaming the "order_dow" column
df_ords.rename(columns={'order_dow':'orders_day_of_week'},inplace=True)

## Change a Variable's Data Type

In [7]:
# Changing data type of the column "order_id" from "orders.csv"
df_ords['order_id']=df_ords['order_id'].astype('str')

## Transpose Data

In [8]:
# Transposing df_dep
df_dep_t=df_dep.T

In [9]:
# Creating an index
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [10]:
# Take the first row of df_dep for the header
new_header=df_dep_t.iloc[0]

In [11]:
# Take the data under the header row for a new df
df_dep_t_new=df_dep_t[1:]

In [12]:
# Set the header row as the df header
df_dep_t_new.columns=new_header

## Creating a data dictionary

In [13]:
# Creating a data dictionary that contains meanings for the values in the "department_id" column
data_dict=df_dep_t_new.to_dict('index')

## Subsetting

In [14]:
# Creating a subset for the dataframe df_prods
df_snacks=df_prods[df_prods['department_id']==19]

# Task

In [15]:
# 2. Find another identifier variable in the df_ords dataframe that doesn’t need to be included in your analysis as a numeric variable and change it to a suitable format.
df_ords['user_id'] = df_ords['user_id'].astype('str')

In [16]:
# 3. Look for a variable in your df_ords dataframe with an unintuitive name and change its name without overwriting the dataframe.
df_ords.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [17]:
df_ords.rename(columns={'days_since_prior_order':'days_since_last_order'},inplace=False)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [19]:
# 4. Your client wants to know what the busiest hour is for placing orders. Find the frequency of the corresponding variable and share your findings.
df_ords['order_hour_of_day'].value_counts()

10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: order_hour_of_day, dtype: int64

In [20]:
# 5. Determine the meaning behind a value of 4 in the "department_id" column within the df_prods dataframe using a data dictionary.
data_dict.get('4')

{'department': 'produce'}

In [25]:
# 6. Create a subset containing only breakfast item sales
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [26]:
df_breakfast=df_prods[df_prods['department_id']==14]

In [29]:
# 7. Find all observations from the entire dataframe that include items from the following departments: alcohol, deli, beverages, and meat/seafood.
df_dinner=df_prods.loc[df_prods['department_id'].isin([5,20,7,12])]

In [30]:
# 8. How many rows does the last dataframe you created have?
df_dinner.shape

(7650, 5)

In [34]:
# 9. Extract all the information you can about the customer with a "user_id" of “1”.
df_ords_user1=df_ords[df_ords['user_id']=='1']

In [35]:
# 10. You also need to provide some details about this user’s behavior. What basic stats can you provide based on the information you have?
df_ords_user1.describe()

,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,11.000000,11.000000,11.000000,10.000000
mean,6.000000,2.636364,10.090909,19.000000
std,3.316625,1.286291,3.477198,9.030811
min,1.000000,1.000000,7.000000,0.000000
25%,3.500000,1.500000,7.500000,14.250000
50%,6.000000,3.000000,8.000000,19.500000
75%,8.500000,4.000000,13.000000,26.250000
max,11.000000,4.000000,16.000000,30.000000

# Exporting dataframes

In [37]:
# Exporting the df_ords dataframe as “orders_wrangled.csv”
df_ords.to_csv(os.path.join(path,'02 Data','Prepared Data','orders_wrangled.csv'))

In [38]:
# Exporting the df_dep_t_new dataframe as “departments_wrangled.csv”
df_dep_t_new.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'))