<p style="font-size:28px;">Merging df_prods & df_ords_combined</p>

# Import libraries

In [1]:
import pandas as pd
import numpy as np
import os

STEP 3

# Import Data

In [2]:
path=r"C:\Users\chenh\z_Careerfoundry\A4_Instacart Basket Analysis"

df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

# STEP4 Check the Data

In [3]:
#Check Output: df_prods
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [4]:
df_prods.describe()

         Unnamed: 0    product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000  49672.000000   49672.000000  49672.000000
mean   24852.005053  24850.349775     67.762442      11.728942      7.680474
std    14342.265579  14340.705287     38.315784       5.850779      4.199302
min        0.000000      1.000000      1.000000       1.000000      1.000000
25%    12432.750000  12432.750000     35.000000       7.000000      4.100000
50%    24851.500000  24850.500000     69.000000      13.000000      7.100000
75%    37272.250000  37268.250000    100.000000      17.000000     11.100000
max    49692.000000  49688.000000    134.000000      21.000000     25.000000

In [5]:
#Drop unnamed columns in df_prods
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [6]:
df_prods.shape

(49672, 5)

In [7]:
#Check Output: df_ords_combined
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,First_Buy,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [8]:
df_ords_prods_combined.shape

(32434489, 11)

It is the same as the one exported

# STEP5 Combine Data

In [9]:
# Drop the '_merge' columns
df_ords_prods_combined = df_ords_prods_combined.drop(['_merge'], axis=1)

In [10]:
df_merged= pd.merge(df_ords_prods_combined,df_prods,on='product_id',indicator=True)

In [11]:
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,First_Buy,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both

# STEP6 Confirm The Results

In [12]:
df_merged.shape

(32404859, 15)

In [15]:
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

The decrease in the number of rows after merging indicates that some data are not common between the two datasets. It would be useful to perform a full join to further investigate this.

In [16]:
df_merged_full= pd.merge(df_ords_prods_combined,df_prods,on='product_id',how='outer',indicator=True)

In [17]:
df_merged_full.shape

(32435070, 15)

In [18]:
df_merged_full['_merge'].value_counts()

both          32404859
left_only        30200
right_only          11
Name: _merge, dtype: int64

There are 30200 pieces of data that are unique to the dataset on the left and 11 are unique on the right.

# Export The Dataframe

In [19]:
df_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))